@model IEnumerable<WebProgrammingMovie.Models.Director>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:cornflowerblue">Yönetmenler</h3>

<p>
    <a style="color: cornflowerblue" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:white">
                @Html.DisplayNameFor(model => model.DirectorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.DirectorName)
            </td>
            <td style="color:white">
                <a style="color: cornflowerblue" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a style="color: cornflowerblue" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a style="color: cornflowerblue" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
